.offer__advantage-icon {
    width: 34px;
    height: 34px;
}

@media screen and (max-width: 740px) {
    .offer__advantage-icon {
        width: 24px;
        height: 24px;
        margin: 0 auto 0;
    }
}