.order__form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 574px;
    height: 545px;
    background: #F6FBF3;
    margin: 0 0 144px 50px;
}

.order__form::before {
    content: "";
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    background: linear-gradient(89.87deg, #AAF081 13.57%, #E8FFDA 97.26%);
    border-radius: 5px;
    z-index: -1;
}


@media screen and (max-width: 1250px) {
    .order__form {
        width: 471px;
        height: 448px;
    }
}

@media screen and (max-width: 990px) {
    .order__form {
        width: 416px;
        margin: 0 0 144px -50px;
    }
}

@media screen and (max-width: 740px) {
    .order__form {
        display: none;
    }
}