.order__cert {
    width: 596px;
    height: 592px;
}

@media screen and (max-width: 1250px) {
    .order__cert {
        width: 434px;
        height: 374px;
    }
}

@media screen and (max-width: 990px) {
    .order__cert {
        width: 390px;
        height: 255px;
        margin: 100px 20px 0 -60px;
    }
}

@media screen and (max-width: 740px) {
    .order__cert {
        margin: 0 auto;
    }
}

@media screen and (max-width: 459px) {
    .order__cert {
        width: 300px;
    }
}