.showcase__title {
    max-width: 707px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #252D24;
    margin: 82px 0 92px 32px;
}

@media screen and (max-width: 1920px) {
    .showcase__title {
        margin: 82px 0 92px calc((100% - 1214px)/2);
    }
}

@media screen and (max-width: 1250px) {
    .showcase__title {
        margin: 82px 0 92px calc((100% - 960px)/2);
    }
}

@media screen and (max-width: 990px) {
    .showcase__title {
        margin: 82px 0 92px calc((100% - 728px)/2);
    }
}

@media screen and (max-width: 740px) {
    .showcase__title {
        margin: 55px 0 26px calc((100% - 440px)/2);
        max-width: 450px;
        font-size: 18px;
    }
}

@media screen and (max-width: 459px) {
    .showcase__title {
        margin: 55px calc((100% - 288px)/2) 26px;
    }
}