.header__logo {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.15em;
    color: #59B722;
    padding-right: 16px;
    border-right: 1px solid #C4C4C4;
}

@media screen and (max-width: 740px) {
    .header__logo {
        font-size: 12px;
        letter-spacing: 0.05em;
        border-right: none;
        padding-right: 0;
    }
}