.advantages__title {
    margin: 100px 0 0 0;
    width: 546px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #252D24;
}

@media screen and (max-width: 1250px) {
    .advantages__title {
        margin: 50px 0 0 0;
    }
}

@media screen and (max-width: 990px) {
    .advantages__title {
        margin: 0;
    }
}

@media screen and (max-width: 740px) {
    .advantages__title {
        font-size: 18px;
        width: 450px;
    }
}

@media screen and (max-width: 459px) {
    .advantages__title {
        width: 290px;
    }
}