.lead__title {
    max-width: 580px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #252D24;
    margin: 0 0 0 32px;
    padding-top: 86px;
}

@media screen and (max-width: 1920px) {
    .lead__title {
        margin: 0 0 0 calc((100% - 1214px)/2);
    }
}


@media screen and (max-width: 1250px) {
    .lead__title {
        margin: 0 0 0 calc((100% - 960px)/2);
    }
}


@media screen and (max-width: 990px) {
    .lead__title {
        margin: 0 0 0 calc((100% - 728px)/2);
    }
}

@media screen and (max-width: 740px) {
    .lead__title {
        margin: 0 0 0 calc((100% - 440px)/2);
        font-size: 18px;
        max-width: 442px;
        padding-top: 42px;
    }
}

@media screen and (max-width: 459px) {
    .lead__title {
        margin: 0 calc((100% - 288px)/2);
    }
}