.feedback__username {
    max-width: 136px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 155.5%;
    color: #252D24;
}

@media screen and (max-width: 740px) {
    .feedback__username {
        font-size: 14px;
        text-align: center;
        margin: 0 auto;
    }
}