.footer__contact {
    margin: 69px 33px 0 0;
}

@media screen and (max-width: 1920px) {
    .footer__contact {
        margin: 69px calc((100% - 1214px)/2) 0 0;
    }
}

@media screen and (max-width: 1250px) {
    .footer__contact {
        margin: 69px calc((100% - 960px)/2) 0 0;
    }
}

@media screen and (max-width: 990px) {
    .footer__contact {
        margin: 69px calc((100% - 728px)/2) 0 0;
    }
}

@media screen and (max-width: 740px) {
    .footer__contact {
        margin: -130px auto 60px;
    }
}