.footer__about {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 155.5%;
    color: #FFFFFF;
    max-width: 310px;
    margin-left: 16px;
    margin-top: 21px;
}

@media screen and (max-width: 740px) {
    .footer__about {
        font-size: 9px;
        margin: 21px auto 0;
        max-width: 237px;
        text-align: center;
    }
}