@font-face {
    font-family: 'Playfair Display';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("PlayfairDisplay-SemiBold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: 'Playfair Display';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("PlayfairDisplay-Bold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: 'Playfair Display';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("PlayfairDisplay-Black.ttf") format("truetype");
  }