.offer__title {
    width: 644px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: #252D24;
    position: relative;
    z-index: 2;
    margin: 0;
    padding-top: 109px;
}

@media screen and (max-width: 1250px){
    .offer__title {
        width: 470px;
    }
}

@media screen and (max-width: 990px){
    .offer__title {
        width: 380px;
    }
}


@media screen and (max-width: 740px){
    .offer__title {
        width: 315px;
        font-size: 20px;
        letter-spacing: 0.05em;
        padding-top: 18px;
        margin-bottom: 340px;
        order: 1;
        margin-top: -540px;
    }
}


@media screen and (max-width: 459px) {
    .offer__title {
        width: 290px;
    }
}