.lead__accept {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 155.5%;
    color: #252D24;
    max-width: 469px;
    margin: 10px 0 60px 0;
}

@media screen and (max-width: 740px) {
    .lead__accept {
        display: none;
    }
}