.header__title {
    display: flex;
    flex-direction: row;
    margin: 20px 0 20px 33px;
}

@media screen and (max-width: 1920px) {
    .header__title {
        margin: 20px 0 20px calc((100% - 1214px)/2);
    }
}

@media screen and (max-width: 1250px) {
    .header__title {
        margin: 20px 0 20px calc((100% - 960px)/2);
    }
}

@media screen and (max-width: 990px) {
    .header__title {
        margin: 20px 0 20px calc((100% - 728px)/2);
    }
}

@media screen and (max-width: 740px) {
    .header__title {
        margin: 20px calc((100% - 440px)/2) 20px calc((100% - 440px)/2);
        justify-content: space-between;
        width: 100%;
    }
}

@media screen and (max-width: 459px) {
    .header__title {
        margin: 20px calc((100% - 288px)/2) 20px calc((100% - 288px)/2);
    }
}