.options__title {
    max-width: 713px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #252D24;
    margin: 0 0 0 32px;
    padding-top: 160px;
    padding-bottom: 50px;
}

@media screen and (max-width: 1920px) {
    .options__title {
        margin: 0 0 0 calc((100% - 1214px)/2);
    }
}

@media screen and (max-width: 1250px) {
    .options__title {
        margin: 0 0 0 calc((100% - 960px)/2);
    }
}

@media screen and (max-width: 990px) {
    .options__title {
        margin: 0 0 0 calc((100% - 728px)/2);
        padding-top: 160px;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 740px) {
    .options__title {
        font-size: 18px;
        max-width: 450px;
        margin: 0 0 0 calc((100% - 440px)/2);
        padding-top: 95px;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 459px) {
    .options__title {
        margin: 0 calc((100% - 288px)/2);
    }
}